.grid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(40, 1fr); /* Creates 10 columns */
  gap: 5px;
  pointer-events: none;
}

.dot {
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
}

.dot:hover {
  background-color: red !important;
}
